# dependencies
**/node_modules

# production
/dist*
/public/sitemap.xml
sitemap.xml

# env（保留示例文件 .env.example）
.env
.env.local
.env.*.local

# misc
/coverage
.idea
npm-debug.log*
yarn-error.log*
*.log
*bak
.history
.eslintcache
build
.temp/**
.vite/**
# /mock/_Live_URL.ts
