.zt-app {
  min-width: var(--app-min-width);
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.zt-app--top-nav .zt-app-main:not(.zt-app-main_full):not(.zt-app-main_with-sider) {
  padding-top: var(--bs-header-height);
}

.zt-app--left-nav .zt-app-body {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.zt-app--left-nav .zt-app-main_with-sider {
  margin-left: var(--sidebar-width);
  transition: margin-left 0.2s ease;
}

.zt-app--left-nav.zt-app--sider-collapsed .zt-app-main_with-sider {
  margin-left: var(--sidebar-collapsed-width);
}

.zt-app-main {
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--content-bg);
}

.zt-app-main_full {
  height: 100vh;
  max-height: 100vh;
  padding-top: 0 !important;
  overflow-y: auto;
}

.zt-app-main_with-sider {
  height: 100vh;
  max-height: 100vh;
  padding-top: 0;
  overflow-y: auto;
}

.zt-app-main_mobile {
  padding-bottom: var(--bs-header-height);
}
